
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.nav-content .text-container {
    margin: 0 25px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: black;
    text-decoration: none;

}
.container {
    display: flex;
  }
  
  .container .item {
    width: 15rem;
    height: 15rem;
    background: lightgray;
    border: 1px solid black;
    margin: 20px;
  }